{% extends "base.html" %}
{% block content %}

<div class="login-wrapper">
  <div class="card login-card">
    
    <h2>Digital Evidence Locker</h2>
    <p class="login-subtext">
      Secure Blockchain-Based Evidence Management System
    </p>

    <form method="POST" class="login-form">
      <input type="text" name="username" placeholder="Enter Username" required>
      <input type="password" name="password" placeholder="Enter Password" required>

      <button type="submit">Sign In</button>
    </form>

  </div>
</div>

{% endblock %}